<template>
    <lightning-card title="Accounts">
        <div class="filter-block">
            <div class="page-size-block">
                <lightning-combobox class="slds-form-element slds-m-around_small"
                                    options={paginator.pageSizes}
                                    value={paginator.recordsPerPage}
                                    label=""
                                    onchange={handlePageSizeChange}>
                </lightning-combobox>
            </div>
            <div class="search-block">
                <div class="slds-form-element slds-m-around_small">
                    <label class="slds-form-element__label" for="text-input-id-1"></label>
                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                        <lightning-icon size="x-small" class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default"
                                        icon-name="utility:search"></lightning-icon>
                        <input type="text" id="text-input-id-1" value={searchKey} class="slds-input" onkeyup={handleSearch} />
                    </div>
                </div>
            </div>
        </div>
        <template if:false={isNoAccountsFound}>
            <c-custom-account-datatable key-field="Id"
                                        data={data}
                                        hide-checkbox-column
                                        onrowaction={handleRowAction}
                                        columns={columns}>
            </c-custom-account-datatable>

            <div class="slds-m-around_small slds-align_absolute-center">
                <div slot="actions" style="display: flex; align-items: center;">
                    <lightning-button
                            variant="neutral"
                            title="first"
                            label="First"
                            name="first"
                            icon-name="utility:chevronleft"
                            icon-position="left"
                            disabled={currentIsFirst}
                            onclick={handleNavigationClick}>
                    </lightning-button>
                    &nbsp;
                    <lightning-button
                            variant="neutral"
                            title="previous"
                            label="Previous"
                            name="previous"
                            icon-name="utility:chevronleft"
                            icon-position="left"
                            disabled={currentIsFirst}
                            onclick={handleNavigationClick}>
                    </lightning-button>
                    &nbsp;
                    <p>{paginator.pageNumber.label} of {paginator.totalPages}</p>
                    &nbsp;
                    <lightning-button
                            variant="neutral"
                            title="next"
                            label="Next"
                            name="next"
                            icon-name="utility:chevronright"
                            icon-position="right"
                            disabled={currentIsLast}
                            onclick={handleNavigationClick}>
                    </lightning-button>
                    &nbsp;
                    <lightning-button
                            variant="neutral"
                            title="last"
                            label="Last"
                            name="last"
                            icon-name="utility:chevronright"
                            icon-position="right"
                            disabled={currentIsLast}
                            onclick={handleNavigationClick}>
                    </lightning-button>
                </div>
            </div>
        </template>

        <template if:true={isNoAccountsFound}>
            <div class="slds-notify slds-notify_alert" role="alert">
                <h2>There are no records.</h2>
            </div>
        </template>
    </lightning-card>
</template>